<!DOCTYPE html>
<html>
    <head>
        <title>Stellify</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>
    <body>
    
</head>

<body class="text-center">
  
<main class="form-signin">
<form>
  <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  <a href=<%= @login_url %>><img width=50 src="https://cdn.vox-cdn.com/thumbor/1ofq3cO5mKLVurFbKsCYnAOzlNE=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/2937002/twitch.0.jpg"/></a>
</form>
</main>

    </body>
</html>