<!DOCTYPE html>
<html>
  <body>
    <%= render "layouts/nav" %>
    <%= yield %>
  </body>
</html>
<div>
  <table>
    <tr>
      <th>My streamers</th>
    </tr>
    <% @likes.each do |like| %>
      <tr>
      <%# Link to like %>
        <td><%= link_to like.username, like %></td>
      </tr>
    <% end %>
  </table>

  <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
</div>

<div>
  <%= link_to "Explore", root_url %>
</div>

