<!DOCTYPE html>
<html>
    <head>
        <title>Stellify</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "explore", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

  <body>

    <nav class="navbar">
      <i class="fire"></i>
      <i class="comments"></i>
      <i class="user"></i>
    </nav>

    <div class="photo-and-actions">
      <div class="photo">
        <div class="photo-text">

          <div class="photo-name">
            <h2><%= @user.username %></h2>
          </div>

          <div class="categories">


          <div class="photo-bio">
            Bio attachment
          </div>

        </div>

      </div>



      <div class="actions">
        <div class="action">
          <i class="Negative"></i>
        </div>

        <div class="action">
          <i class="star"></i>
        </div>
      </div>

    </div>

  </body>
</html>

<%= link_to "Like", like_path(@user) %>
